<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.barathrum.frogshop.dao.OrderGoodMapper">
	<resultMap id="BaseResultMap" type="cn.barathrum.frogshop.bean.OrderGood">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="num" jdbcType="INTEGER" property="goodNum" />
		<result column="goodName" jdbcType="VARCHAR" property="goodName" />
		<association property="sku" column="skuId"
			select="cn.barathrum.frogshop.dao.SkuMapper.selectByPrimaryKey" />
	</resultMap>
	<sql id="Base_Column_List">
		id, orderId, skuId,num,goodName
	</sql>
	<select id="selectByOrderId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shop_order_good
		where orderId = #{orderId,jdbcType=INTEGER}
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from shop_order_good
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from shop_order_good
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insertGoodOrder">
		insert into shop_order_good(orderId,skuId,num)
		values(#{orderId,jdbcType=INTEGER},#{skuId,jdbcType=INTEGER},#{goodNum,jdbcType=INTEGER})
	</insert>
	<insert id="insert" parameterType="cn.barathrum.frogshop.bean.OrderGood">
		insert into shop_order_good (id, orderId, skuId,num,goodName)
		values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER},
		#{skuId,jdbcType=INTEGER},
		#{num,jdbcType=INTEGER},#{goodName,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.barathrum.frogshop.bean.OrderGood"
		useGeneratedKeys="true" keyProperty="id">
		insert into shop_order_good
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orderId != null">
				orderId,
			</if>
			<if test="skuId != null">
				skuId,
			</if>
			<if test="num != null">
				num,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=INTEGER},
			</if>
			<if test="skuId != null">
				#{skuId,jdbcType=INTEGER},
			</if>
			<if test="num != null">
				#{num,jdbcType=INTEGER},
			</if>
			<if test="goodName != null">
				#{goodName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="cn.barathrum.frogshop.bean.OrderGood">
		update shop_order_good
		<set>
			<if test="orderId != null">
				orderId = #{orderId,jdbcType=INTEGER},
			</if>
			<if test="skuId != null">
				skuId = #{skuId,jdbcType=INTEGER},
			</if>
			<if test="num != null">
				num = #{num,jdbcType=INTEGER},
			</if>
			<if test="goodName != null">
				goodName = #{goodName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.barathrum.frogshop.bean.OrderGood">
		update shop_order_good
		set orderId = #{orderId,jdbcType=INTEGER},
		skuId = #{skuId,jdbcType=INTEGER},
		num = #{num,jdbcType=INTEGER},
		goodName = #{goodName,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>