<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.barathrum.frogshop.dao.RolesMapper">
  <resultMap id="BaseResultMap" type="cn.barathrum.frogshop.bean.Roles">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="displayName" jdbcType="VARCHAR" property="displayName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <collection property="permissions" column="id" select="cn.barathrum.frogshop.dao.PermissionsMapper.selectByRoleId" fetchType="lazy"></collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, displayName, description, createTime, updateTime
  </sql>
  <!-- 通过用户名获取角色 -->
  <select id="selectByUserName" parameterType="java.lang.String" resultType="java.lang.String">
  	select r.name as name
	from shop_roles r
	left JOIN shop_role_user sru on sru.roleId = r.id
	left JOIN shop_user su on su.id = sru.id
	where su.userName = #{username,jdbcType=VARCHAR}
  </select>
  <!-- 通过用户id获取角色 -->
    <select id="selectByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
  	sr.id, sr.name, sr.displayName, sr.description, sr.createTime, sr.updateTime
  	from shop_roles sr 
  	left join shop_role_user sru on sr.id = sru.roleId
  	where sru.userId = #{id,jdbcType=INTEGER} 
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_roles
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_roles
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.barathrum.frogshop.bean.Roles">
    insert into shop_roles (id, name, displayName, 
      description, createTime, updateTime
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{displayname,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.barathrum.frogshop.bean.Roles">
    insert into shop_roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="displayname != null">
        displayName,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayname != null">
        #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.barathrum.frogshop.bean.Roles">
    update shop_roles
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayname != null">
        displayName = #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.barathrum.frogshop.bean.Roles">
    update shop_roles
    set name = #{name,jdbcType=VARCHAR},
      displayName = #{displayname,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>